<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Template</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <h1>
        <%= title %>
    </h1>
    <ul>
        <% messages.forEach((message) => { %>
            <li> 
                <h1><%= message.username%></h1>
                <h2><%= message.text%></h2>
                <h5><%= new Date(message.date_added).toLocaleString() %></h5>
                <%const link = `/details?user=${message.username}&text=${message.text}&added=${new Date(message.date_added).toLocaleString()}`%>
                <a href="<%=link%>">Message Details</a>
                <%const delLink = `/delete?user=${message.username}&text=${message.text}&added=${new Date(message.date_added).toLocaleString()}`%>
                <a href="<%=delLink%>" onClick="return confirm('Are you sure? This will delete the message from the database as well.')">Delete Message</a>
            </li>
        <% });%>
     </ul>

     <a href="/new" class="newMessageLink">Go to new message form</a>
</body>
</html>

 